.app {
  padding-top: 30px;
  font-size: 20px;
  &__container {
    max-width: 500px;
    min-width: 320px;
    margin: 0 auto;
  }
}

.main {
  &__header {
    padding: 0 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  &__add {
    display: none;
    background: url('./assets/img/add.svg') no-repeat 50% 50%;
    background-size: 100%;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  &__header:hover &__add {
    display: block;
    animation: 1.5s 1 alternate add-rotate;
  }
  &__list {
    padding: 20px;
    border: 1px solid black;
  }
  &__list-item {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
  }
  &__list-item + &__list-item {
    margin-top: 10px;
  }
}
@keyframes add-rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.project {
  padding: 5px 10px;
  border: 1px solid red;
  border-radius: 10px;
  background-color: #f80e83;
  color: white;
}

.new-project {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  border: none;
  &__wrapper {
    padding-top: 40px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
  }
  &__inner {
    padding: 10px 40px;
    max-width: fit-content;
    margin: 0 auto;
    background-color: #fff;
  }
}
