.todo-lists {
  width: 900px;
  margin-left: -200px;
  display: flex;
}

.todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 33%;
  padding-bottom: 20px;
  height: 100%;
}

.todo-list li {
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
  padding: 0 10px;
}

.todo-list li:last-child {
  border-bottom: none;
}

.todo__title {
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
  font-weight: 400;
  color: #4d4d4d;
}
.todo__button-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  width: 30px;
  height: 40px;
  font-size: 34px;
  color: #cc9a9a;
  margin: auto 0;
  transition: color 0.2s ease-out;
  cursor: pointer;
}
.icon:hover {
  color: #af5b5e;
}

.icon-destroy:after {
  content: '×';
}

.icon-edit {
  font-size: 19px;
}

.icon-add:after {
  content: '\002B';
}

.icon-edit:after {
  content: '✎';
}
